@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container__all{
    position: relative;
    right: 0;
    transition: all 300ms;
}

header{
    width: 100%;
    height: 100px;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;

    transition: all 300ms;
}


.move_content{
    right: 180px;
}

.container__header{
    max-width: 1200px;
    height: 100%;  
    display: flex;
    justify-content: space-between; 
    margin: auto;
    padding: 0px 20px;
}

header .logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body
{
    background-color: rgb(156, 156, 156);
}

.logo img{
    width: 400px;
    margin-right: 60px;
}

.container__nav{
    position: relative;
    height: 100%;
}

nav{
    height: 100%;
}

nav ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    margin: 0px 20px;
    list-style: none;
}

nav ul li a{
    color: #000000;
    font-size: 14px;
}

nav :hover
{
    color: yellow;
}

.container__nav nav ul li .login
{
    color: #8504ff;
}

.select{
    background: #8504ff;
    padding: 10px 30px;
    color: white;
    border-radius: 20px;
}

.logear
{
    background: #5400a3;
    padding: 10px 30px;
    color: white;
    border-radius: 20px;
}

.nav_mod{
    height: 70px;
    box-shadow: 1px 1px 10px 0px #00000010;
    background: white;
}

.btn__menu{
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background 300ms;
    display: none;
}

.btn__menu:hover{
    background: #f5f5f5;
}

/*COVER*/

.cover{
    width: 100%;
    padding-bottom: 60px;
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
}

.container__cover{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;

    background-image: url();
    background-size: cover;
    background-position: bottom;
}

.cover .container__info{
    max-width: 500px;
    margin-top: 40px;
    z-index: 2;
}

.cover h1{
    max-width: 500px;
    font-size: 60px;
    font-weight: 900;
    color: #373737;
}

.cover h2{
    font-size: 60px;
    font-weight: 900;
    color: #8504ff;
    margin-top: -30px;
}

.cover p{
    margin-top: 10px;
    color: #373737;
}

.cover input[type="button"]{
    padding: 10px 40px;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    color: white;
    background: #8504ff;
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #20202049;
    cursor: pointer;
    transition: box-shadow 500ms;
}

.cover input[type="button"]:hover{
    box-shadow: 1px 1px 30px -5px #20202085;
}


.slider-frame
{
    width: 100%;
    height: 368px;
    overflow: hidden;
    margin-left: 20px;
    margin-top: 30px;
    border: 3px solid #8504ff;
}

.slider-frame ul
{
    display: flex;
    padding: 0;
    animation: slide 30s infinite ease-in-out;
    width: 600%;
    margin-left: 20px;
}

.slider-frame li
{
    width: 100%;
    list-style: none;
}


.slider-frame img
{
    width: 100%;
    height: 100%;
}

@keyframes slide
{
    0%{margin-left: 0%;}
    10%{margin-left: 0%;}

    15%{margin-left: -100%;}
    25%{margin-left: -100%;}

    30%{margin-left: -200%;}
    40%{margin-left: -200%;}

    45%{margin-left: -300%;}
    55%{margin-left: -300%;}

    60%{margin-left: -400%;}
    70%{margin-left: -400%;}

    75%{margin-left: -500%}
    85%{margin-left: -500%}

}




/****************************/

/*¡NO TOCAR CODIGO DE AQUÍ DEBAJO!*/


/*MUESTRA*/


@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color-esqueleto:#EFF3F5;
}

.body__Page h1
{
    margin-top: 7%;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    color: #8504ff;
    text-align: center;
}

.container__article{
    max-width: 1000px;
    padding: 0px 20px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    
}

.container__article .box__article{
    width: 200px;
    height: 250px;
    background: var(--color-esqueleto);
    margin: 30px;
    text-align: center;

}

.box__article:hover
{
    transition: ease-in;
    box-shadow: 5px 5px 10px #8504ff;
}

.body__Page .container-testimonials
{
    padding-top: 30px;
}

.body__Page h2
{
    color: #373737;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
}

.container-testimonials .testimonials
{
    padding-top: 30px;
    text-align: center;
}

.container-testimonials .testimonials h2
{
    color: black; 
    font-size: 27px;
}

.container-testimonials .testimonials h1
{
    color: #2f00ff;
    font-size: 35px;
    margin-top: 22px;
}

.container-testimonials .box__testimonials .reproductor
{
    display: inline;
    margin-right: 30px;
    margin-top: 50px;
    margin-left: 50px;
}

.container-testimonials .box__testimonials .foto
{
    display: inline;
    float: left;
    margin-left: 140px;
    margin-top: 50px;
}

.container-testimonials .box__testimonials .logo
{
    display: inline;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
}

.container-testimonials .box__testimonials .texto__foto
{
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 17px;
    text-align: center;
    margin-top: 40px;
}

.container__curiosidades .curiosidad1
{
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}

.container__curiosidades .curiosidad1 h1
{
    color: black;
    text-align: center;
    margin-top: 20px;
}

.container__curiosidades .curiosidad1 .lars
{
    margin-top: 50px;
    margin-left: 10px;
    display: inline;
}

.container__curiosidades .curiosidad1 .cita
{
    display: inline;
    font-family: 'Poppins', sans-serif;
    width: 60%;
    float: left;
    text-align: center;
    margin-top: 40px;
    margin-left: 10%;
    font-size: 17px;
}

.container__curiosidades .curiosidad1 .cita2
{
    display: inline;
    font-family: 'Poppins', sans-serif;
    width: 60%;
    float: left;
    text-align: center;
    margin-top: 50px;
    margin-left: 90px;
    font-size: 17px;
    color: blue;
}

.container__curiosidades .curiosidad2 h1
{
    color: black;
    margin-top: 9%;
}

.container__curiosidades .curiosidad2 .cita
{
    display: inline;
    font-family: 'Poppins', sans-serif;
    width: 60%;
    float: left;
    text-align: center;
    margin-top: 40px;
    margin-left: 17%;
    font-size: 17px;
}

.container__curiosidades .curiosidad2 .napalm
{
    margin-right: 10px;
}

.container__curiosidades .curiosidad3 h1
{
    color: black;
    margin-top: 9%;
}

.container__curiosidades .curiosidad3 h2
{
    color: red;
    font-size: 30px;
}

.container__curiosidades .curiosidad3 .cita
{
    display: inline;
    font-family: 'Poppins', sans-serif;
    width: 60%;
    float: left;
    text-align: center;
    margin-top: 40px;
    margin-left: 12%;
    font-size: 17px;
}

.container__curiosidades .curiosidad3 .iron
{
    margin-left: 10px;
}



/*AQUI COMIENZA EL FOOTER*/

footer{
    width: 100%;
    padding: 50px 0px;
    font-family: 'Nunito', sans-serif;
    *background-color: var(--color-esqueleto);
    background-image: url("");
    background-size: cover;

    /*webkit-mask-image: url("../Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;*/
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #252525;
    font-size: 18px;

}

.box__footer h2{
    margin-bottom: 30px;
    color: #242424;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #242424;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: black;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}



.username input
{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.username label
{
    position: absolute;
    top: 50%;
    left: 5px;
    color: grey;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

.username span::before
{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #8504FF;
}

.username input:focus ~ label,
.username input:focus ~ label
{
    top: -5px;
    color: #8504FF;
}

.username input:focus ~ span::before,
.username input:focus ~ span::before
{
    width: 100%;
}

