@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}


*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --color-bg-1: rgb(179, 179, 179);
    --color-bg-2: rgb(179, 179, 179);
    --color-btn: #2196F3;
    --color-header-step: yellow;
    --color-shadow: #222;
    --color-border-input: #ddd;
}

header{
    width: 100%;
    height: 100px;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;

    transition: all 300ms;
}


.move_content{
    right: 180px;
}

.container__header{
    max-width: 1200px;
    height: 100%;  
    display: flex;
    justify-content: space-between; 
    margin: auto;
    padding: 0px 20px;
}

header .logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body
{
    background-color: rgb(179, 179, 179);
}

.logo img{
    width: 400px;
    margin-right: 60px;
}

.container__nav{
    position: relative;
    height: 100%;
}

nav{
    height: 100%;
}

nav ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    margin: 0px 20px;
    list-style: none;
}

nav ul li a{
    color: #000000;
    font-size: 14px;
}

nav :hover
{
    color: yellow;
}

.container__nav nav ul li .login
{
    color: #8504ff;
}

.select{
    background: #8504ff;
    padding: 10px 30px;
    color: white;
    border-radius: 20px;
}

.logear
{
    background: #5400a3;
    padding: 10px 30px;
    color: white;
    border-radius: 20px;
}

.nav_mod{
    height: 70px;
    box-shadow: 1px 1px 10px 0px #00000010;
    background: white;
}

.btn__menu{
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background 300ms;
    display: none;
}

.btn__menu:hover{
    background: #f5f5f5;
}


/* Contenedor principal */
.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 16px;
    font-family: sans-serif;
    background-image: linear-gradient(var(--color-bg-1), var(--color-bg-2));
    overflow: hidden;
}

/* Formulario */
.form-register {
    padding: 20px 15px;
    width: 100%;
    max-width: 400px;
    margin-top: 80px;
}

/* Header del formulario */

/* Progressbar */
.progressbar {
    display: flex;
    list-style: none;
    margin-bottom: 15px;
    counter-reset: step;
}

.progressbar__option {
    width: 100%;
    text-align: center;
    font-size: .7rem;
    text-transform: uppercase;
    position: relative;
}

.progressbar__option:before {
    display: flex;
    content: counter(step);
    counter-increment: step;
    width: 20px;
    height: 20px;
    background-color: white;
    margin: 0 auto 5px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}


.progressbar__option:after {
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 10px;
    left: -50%;
    z-index: 1;
}

.progressbar__option:first-child:after {
    content: none;
}

.progressbar__option.active:before, .progressbar__option.active:after {
    background-color: var(--color-header-step);
}

/* Título del formulario */
.form-register__title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 15px;
}

/* body del formulario */
.form-register__body {
    display: flex;
    align-items: flex-start;
}

/* step */
.step {
    background-color: white;
    box-shadow: 5px 5px 5px 2px var(--color-shadow);
    border-radius: 3px;
    min-width: 100%;
    opacity: 0;
    transition: all .2s linear;
}

.step.active {
    opacity: 1;
}

.step.to-left {
    margin-left: -100%;
}

.step.inactive {
    animation-name: scale;
    animation-duration: .2s;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

@keyframes scale {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* header de step */
.step__header {
    padding: 20px 15px;
    background-color: var(--color-header-step);
    border-radius: 3px 3px 0 0;
}

.step__title {
    font-size: 1.1rem;
    text-align: center;
}

/* body de step */
.step__body {
    padding: 20px 15px 0;
}

/* step inputs */
.step__input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid var(--color-border-input);
}

/* step footer */
.step__footer {
    padding: 20px 15px;
    text-align: center;
}

/* step botones */
.step__button {
    display: inline-block;
    padding: 10px;
    background-color: #8b1df3;
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}


.root .logo
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1;
    margin-bottom: 20px;
}



footer{
    width: 100%;
    padding: 50px 0px;
    font-family: 'Nunito', sans-serif;
    *background-color: var(--color-esqueleto);
    background-image: url("");
    background-size: cover;

    /*webkit-mask-image: url("../Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;*/
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #252525;
    font-size: 18px;

}

.box__footer h2{
    margin-bottom: 30px;
    color: #242424;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #242424;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: black;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}


